<div id="outer">
  <div class="jumbotron">
    <h3>Account Information</h3>
  </div>
  <div class="row">
    <div class="col-4 mx-auto">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <!-- <p>Username: {{this.user.username}}</p>
            <p>First Name: {{this.user.firstName}}</p>
            <p>Last Name: {{this.user.lastName}}</p> -->
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Username:</td>
                  <td>{{this.user.username}}</td>
                </tr>
              </tbody>
              <tbody>
                <tr>
                  <td>Name:</td>
                  <td>{{this.user.firstName}} {{this.user.lastName}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>