#carTable {
    display: inline-table;
}
/* .center {
    margin: auto;
    width: 30%;
    /* border: 3px solid gray; */
    /* padding: 10px; */
    /* padding: 70px 0;
    text-align: center; */
/* } */
#outer {
    padding: 70px 0;
    /* text-align: center; */
    width: 30%;
    padding: 70px 0;
}
#outermost {
    align-content: center;
}
#carTableDiv {
    text-align: center;
    /* padding: 70px 0; */
}