<h1 class="jumbotron">Add a new car</h1>

<div class="container center">
  <form (submit)="addCar()">
    <label for="make">Make: </label>
    <input type="text" id="make" name="make" placeholder="Make" required [(ngModel)]="make"><br>
    <label for="model">Model: </label>
    <input type="text" id="model" name="model" placeholder="Model" required [(ngModel)]="model"><br>
    <label for="year">Year: </label>
    <input type="number" id="year" name="year" placeholder="Year" required [(ngModel)]="year"><br>
    <label for="trim">Trim: </label>
    <input type="text" id="trim" name="trim" placeholder="Trim" [(ngModel)]="trim"><br>
    <label for="type">Type: </label>
    <input type="text" id="type" name="type" placeholder="Type" required [(ngModel)]="type"><br>
    <label for="price">Price: </label>
    <input type="number" id="price" name="price" placeholder="Price" required [(ngModel)]="price"><br>
    <label for="cityMileage">City Mileage: </label>
    <input type="number" id="cityMileage" name="cityMileage" placeholder="City Mileage" required [(ngModel)]="cityMileage"><br>
    <label for="highwayMileage">Highway Mileage:</label>
    <input type="number" id="highwayMileage" name="highwayMileage" placeholder="Highway Mileage" required [(ngModel)]="highwayMileage"><br>
    <label for="combinedMileage">Combined Mileage:</label>
    <input type="number" id="combinedMileage" name="combinedMileage" placeholder="Combined Mileage" required [(ngModel)]="combinedMileage"><br>
    <input type="submit" class="btn btn-success" value="Add Car">
  </form>
</div>
