<div>
  <form (submit)="login()">
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" required [(ngModel)]='username'/><br>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" required [(ngModel)]='password'/><br>
    </div>
    <input type="submit" class="btn btn-success" value="Log In">
  </form>
  <div id="message" *ngIf="this.invalidLogin">
    The username or password you have entered is incorrect.
  </div>
</div>